* {margin: 0; padding: 0;}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #341010;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
}

.main-menu {
    display: flex;
}

nav a {
    padding: 12px 10px;
    text-decoration: none;
    color: #faeded;
    font-family: Candara, serif;
    font-weight: lighter;
    font-size: 25px;
}

nav a:hover {
    background-color: #faeded;
    color: #341010;
}

header {
    background-image: url("images/bg.jpg");
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h1 {
    font-family: Candara, serif;
    font-size: 40px;
    color: #faeded;
    position: absolute;
    bottom: 50px;
    left: 10%;
}

h2 {
    font-family: Candara, serif;
    color: #341010;
}

p {
    font-family: Candara, serif;
    color: #341010;
    font-size: 25px;
}

section {
    scroll-margin-top: 54px;
    background-color: #faeded;
}

#about {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#my-photo {
    margin-bottom: 150px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
}

#my-photo img:first-child {
    z-index: 1;
    top: 100px;
    left: 350px;
    width: 330px;
    position: absolute;

}

#my-photo img:last-child {
    width: auto;
    height: 100%;
}

#description {
    margin-bottom: 100px;
}

#description h2 {
    font-size: 40px;
    margin-left: 20px;
    padding-top: 40px;
}

#about-me {
    padding-top: 10px;
    width: 80%;
}

#about-me p {
    text-indent: 20px;
    padding-bottom: 10px;
}

#skills {
    font-weight: bold;
}

#all-skills {
    width: 90%;
}

#more-about-me{
    width: fit-content;
    cursor: pointer;
    background-color: #341010;
    font-family: Candara, serif;
    font-size: 25px;
    margin-top: 30px;
    padding: 7px 15px;
    letter-spacing: 1px;

    transition: all .35s;
    position:relative;
}

#more-about-me span{
    position: relative;
    color: #faeded;
    z-index: 2;
    transition: all .35s;
}

#more-about-me:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #faeded;
    transition: all .35s;
}

#more-about-me:hover span{
    color: #341010;
}

#more-about-me:hover:after{
    width: 100%;
}

#portfolio {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#portfolio h2 {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    padding-top: 20px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px 0 70px;
}

.project-description {
    display: flex;
    align-items: center;
    gap: 50px;
}

.project-description.right {
    flex-direction: row-reverse;
}

.project-card h3 {
    align-self: flex-start;
    color: #be3443;
    font-family: Candara, serif;
    padding-left: 150px;
    font-size: 40px;
    padding-bottom: 10px;
}

.project-card h3:after {
    content: '';
    display: block;
    height: 2px;
    background: #341010;
    width: 1000px;
}

.project-card a {
    display: block;
    width: fit-content;
    /*color: #faeded;*/
    background-color: #be3443;
    text-decoration: none;
    font-family: Candara, serif;
    font-size: 25px;
    margin-top: 20px;
    padding: 6px 10px;

    transition: all .35s;
    position:relative;
}

.project-card a span{
    position: relative;
    color: #faeded;
    z-index: 2;
    transition: all .35s;
}

.project-card a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #faeded;
    transition: all .35s;
}

.project-card a:hover span{
    color: #be3443;
}

.project-card a:hover:after{
    width: 100%;
}

.project-card p {
    padding-bottom: 15px;
    text-indent: 20px;
}

.about-project {
    padding: 15px 25px 15px 0;
}

.project-video {
    padding: 40px 0;
}

video {
    cursor: pointer;
    width: 720px;
    height: auto;
    transition: box-shadow .35s;
}

video:hover {
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.2);
}

#contacts {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

#contacts h2 {
    padding: 40px 0 20px 0;
    font-weight: normal;
    font-size: 40px;
}

#contacts p {
    text-align: center;
}

#contacts a {
    color: #be3443;
}

#social {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    gap: 30px;
}

#social img {
    width: 50px;
}

footer {
    background-color: #341010;
    width: 100%;
}

footer p {
    text-align: center;
    color: #faeded;
    font-family: Candara, serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 10px 0;
}

.window {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 90%;
    background-color: #faeded;
    border-radius: 6px;
    border: solid 3px #341010;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
}

#about-more-about-me {
    align-items: flex-start;

}

#about-more-about-me h3 {
    color: rgba(52, 16, 16, 0.84);
    font-family: Candara, serif;
    padding: 10px 10px 0 40px;
    font-size: 25px;
    font-weight: lighter;
}

#about-more-about-me h3:after {
    content: '';
    width: 400px;
    height: 1px;
    background-color: rgba(52, 16, 16, 0.46);
    display: block;
}

#about-more-about-me p {
    text-align: left;
    padding: 5px 10px 0 20px;
    font-size: 20px;
}

#about-more-about-me a {
    color: #341010;
    font-family: Candara, serif;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
}

#about-more-about-me ul {
    padding-left: 35px;
    font-family: Candara, serif;
    color: #341010;
    font-size: 18px;
}

#about-more-about-me .close {
    align-self: center;
    margin: 20px 0 20px 0;
    padding: 7px 13px 7px 13px;
    transition: background-color .35s;
}

#about-more-about-me .close:hover {
    background-color: #faeded;
    color: #341010;
}

.window button {
    cursor: pointer;
    background-color: #341010;
    color: #faeded;
    font-family: Candara, serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100vw;
    top: 0;
    height: 100vh;
    left: 0;
}


.open-pop-up-window {
    visibility: visible;
}

.overlay-visible {
    visibility: visible;
}


.column-large-2 {
    width: 50%;
}

#open-menu {
    display: none;
    width: 40px;
    height: 40px;
    align-self: flex-end;
    font-size: 20px;
    margin: 5px;
    background-color: #faeded;
    border-radius: 4px;
    border: transparent;
}

#open-menu:hover {
    background-color: #faeded;
    cursor: pointer;
}

.btn-open::before {
    content: '\2630';
}

.btn-close::before {
    content: '\2716';
}


@media (max-width: 600px) {

    #home h1 {
        left: 5%
    }

    #open-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-menu {
        display: none;
    }

    .small-nav {
        flex-direction: column;
        align-items: center;
    }
    .main-menu-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }

    nav a {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    #about {
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 20px;
        min-height: 0;
    }

    #description {
        margin-bottom: 0;
    }

    #description p {
        padding-left: 20px;
        padding-top: 5px;
    }

    #description #more-about-me {
        margin-left: 20px;
    }

    #description h2 {
        padding-left: 30px;
    }

    #my-photo {
        height: 200px;
    }
    .column-small-1 {
        width: 100%;
    }

    #my-photo img:first-child {
        top: 80px;
        left: 100px;
        width: 200px;
    }

    #portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects {
        gap: 20px;
    }

    .project-card {
        padding: 50px 25px 0 25px;
    }

    .about-project {
        padding: 15px 0;
    }

    .project-card h3 {
        padding-left: 0;
    }

    .project-card h3:after {
        width: 300px;
    }

    .project-description, .project-description.right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px
    }

    .project-card a {
        font-size: 20px;
        display: block;
        margin: auto;
        width: fit-content;
    }

    .project-video {
        padding: 0;
    }

    video {
        width: 100%;
        height: auto;
    }

    .window {
        overflow-y: scroll;
        width: 90%;
        height: 80%;
    }

    #about-more-about-me h3:after {
     max-width: 250px;
    }

    p {
        font-size: 20px;
    }
}